ENV=production
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

STREAM_NAMESPACE=atom
CORS_ORIGINS=https://smart4technology.com,https://api.smart4technology.com

MEV_STREAM_KEY=
TRIANGULAR_STREAM_KEY=
LIQUIDITY_STREAM_KEY=
STAT_ARB_STREAM_KEY=
VOLATILITY_STREAM_KEY=